<br>
<div class="top">
<div class="top1">
<button id="bluebutton" routerLink="/dashboard/createaccount">Create a New Account</button>
</div>
<div class="top2">
<select [(ngModel)]="column" value="column">
    <option value="account_name">Account Name</option>
    <option value="available_balance">Available Balance</option>
    <option value="account_number">Account Number</option>
    <option value="city">City</option>
</select>
<select [(ngModel)]="order" value="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button id="bluebutton" (click)="sort()">Sort</button>
</div>
<div class="top3">
    <select [(ngModel)]="limit" value="limit">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
    </select>
    <select [(ngModel)]="page" value="page">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
<button id="bluebutton" (click)="pagination()">Pagination</button>
</div>
<br>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Account Name</th>
            <th>Available Balance</th>
            <th>Account Number</th>
            <th>City</th>
            <th>Profile Picture</th>
            <th style="text-align: center;"colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts; let i=index">
            <td>{{i+1}}</td>
            <td>{{account.account_name}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.account_number}}</td>
            <td>{{account.city}}</td>
            <td><img [src]="account.profie_picture" [alt]="" width="100px" height="60px"></td>
            <td><button (click)="delete(account.id)">Delete</button></td>
            <td><button routerLink="/dashboard/accountdetails/{{account.id}}">View</button></td>
            <td><button routerLink="/dashboard/createaccount/{{account.id}}">Edit</button></td>
            
        </tr>
    </tbody>
</table>
