body
{
    width: 100vw;
    height: 100vh;
}
.mainpage
{
    height:100%;
    width:100%;
    color: rgb(38,70,83);
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin-top: 300px;
}
#button
{
    height:10%;
    width:30%;
    color: rgb(255, 255, 255);
    background-color: rgb(222,131,20);
    font-size: x-large;
    border-radius: 15px;
}
