<div class="createform">
<form [formGroup]="accountForm">
    <label id="labelname">Account Name</label>
    <input id="textbox" type="text" formControlName="account_name"><br>
    <label id="labelname">Available Balance</label>
    <input id="textbox" type="text" formControlName="available_balance"><br>
    <label id="labelname">Account Number</label>
    <input id="textbox" type="text" formControlName="account_number"><br>
    <label id="labelname">City</label>
    <input id="textbox" type="text" formControlName="city"><br>
    <label id="labelname">Profile Picture</label>
    <input id="textbox" type="text" formControlName="profie_picture"><br>
    <button id="bluebutton" (click)="create()">Create Entry</button>
</form>
</div>

