    <div class="card">

    <div class="cardtop">
    <img [src]="details.school_logo" [alt]="" width="50px" height="50px">
    <h5>{{details.school_name}}</h5>
    </div>
    <div class="cardmid">
    <div class="cardmidleft">
        <label>Name:<b>{{details.name}}</b></label><br>
        <label>Phone:<b>{{details.phone}}</b></label><br>
        <label>D-O-B:<b>{{details.dob}}</b></label><br>
        <label>City:<b>{{details.city}}</b></label><br>
        <label>E-mail:<b>{{details.email}}</b></label><br>
        <label>School City:<b>{{details.school_city}}</b></label><br>
        <label>School Pin:<b>{{details.school_pin}}</b></label>
    </div>
    <div class="cardmidright">
        <img [src]="details.profile_picture" [alt]="" width="130px" height="130px">
    </div>
    </div>
</div>
   

