
  <div class="mainpage">
    <div class="left">
        <div class="left1">
          <h3>My Website</h3>
        </div>
        <hr>
        <div class="left2">
          <h3 routerLink="home">Home</h3>
          <h3 routerLink="welcome">Welcome</h3>
          <h3 routerLink="databinding">Data Binding</h3>
          <h3 routerLink="calculator">Calculator</h3>
          <h3 routerLink="rectangle">Rectangle</h3>
          <h3 routerLink="circle">Circle</h3>
          <h3 routerLink="bmi">BMI</h3>
          <h3 routerLink="emi">EMI</h3>
          <h3 routerLink="temperature">Termperature</h3>
          <h3 routerLink="SimpleInterest">Simple Interest</h3>
        </div>
        <hr>
        <div class="left3">
          <button id="button" routerLink="/exit"><b>Logout</b></button>
        </div>
        
    </div>
    <div class="right">
      <router-outlet></router-outlet>
      <div class="rightcenterbox">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


