.mainpage{
    margin-top: 0;
    width:100%;
    height:100%;
    background-color: white;
    overflow: auto; 
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.box{
    width:30%;
    height:30%;
    background-color:aquamarine;

}
.image{
    width:100%;
    height:100%;
    background-color:white;
    position: relative;  
    transition: transform 0.3s ease-in-out;
    
}
.image:hover .author{
    display: inline-block;
    width: 35%;
    height:10%;
    background-color: rgb(26,53,63);
    position: absolute;
    left: 2px;
    top: 1px;
    color:white;
    font-size: 15px;
    border: 1px solid black;   
    text-align: center;
}
.image:hover{
    transform: scale(1.05);
}
.image:hover .download{
    display: inline-block;
   margin-left: 130px;
   background-color: rgb(24,184,184);
    position: absolute;
    border-radius: 15px;
    top: 170px;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.author{
    width:100%;
    height:10%;
    background-color:rgb(224, 213, 14);   
    display: none;
}
.download{
   
    
    background-color:rgb(139, 8, 8);
    display: none;
    border-radius: 15px;
    border: none;
}
#dwnloadbtn{
    background-color: rgb(24,184,184);
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 30px;
}