body{
    
    width: 100vw;
    height: 100vh;    
}
.heading{
    text-align: center;
    color: white;
    background-color:  rgb(26,53,63);
    width: 100%;
    height: 12%;
    
    border: 4px solid rgb(26,53,63);
}
.parent{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(26,53,63);
    overflow: auto;
   
}
.box{
    width: 21%;
    height: 60%;
    background-color: white;
    color: rgb(26,53,63);
    border: 4px solid white;
    margin: 20px;
}
.product_image{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.product_title{
    width: 100%;
    height: 14%;
    padding-left: 10px;
    background-color: rgb(24,184,184);
    
}
.product_price{
    width: 100%;
    height: 8%;
    padding-left: 10px;
    background-color: rgb(24,184,184);
   
}
.product_rating{
    width: 100%;
    height: 8%;
    padding-left: 10px;
    background-color: rgb(24,184,184);
   
}