<div class="heading"><h2>FLIPKART with API</h2></div>
<div class="parent">
<div class="box" *ngFor="let flipkartpage of flipkarts">
    <div class="product_image"><img [src]="flipkartpage.image" [alt]="" width="260px" height="220px"></div>
    <div class="rating"><app-ratings [rating]='flipkartpage.rating.rate'></app-ratings></div>
    <div class="product_title"><b>{{flipkartpage.title | slice:0:50}}</b></div>
    <div class="product_price"><p>Price:{{flipkartpage.price}}</p></div>
    

  
</div>
</div>