:host {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100vh;
    background-position: 0%;
    margin-left: 0;
}
.mainpage{
    
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
}
.left
{
    margin: 0px;
    border: 0px;
    width: 15%;
    height: 100%;
    background-color: rgb(38 70 83);
    overflow:hidden
    
}
h2{
    margin: 0px;
    border: 0px;
}
h3{
    margin: 0px;
    border: 0px;

}
.left1{
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 12%;
    background-color: rgb(222,131,20);
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
#globe{
    transition: transform 0.1s ease-in-out;
    border: none;
    outline: 0;
}
#globe:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.left2{
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 80%;
    background-color: rgb(28,56,67);
    padding-left: 30px;
    line-height: 1.1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

p:hover{
   
    
    cursor: pointer;
    color: rgb(222, 131, 20);
    
    
}
.left3{
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 8%;
    background-color:rgb(28,56,67);
    display: flex;
    align-items: center;
    justify-content: center;
}
#button{
    background-color: rgb(24,184,184);
    width: 150px;
    height: 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 2px rgb(23, 42, 50);
    border: 0;
    font-size: medium;
    transition: 0.2s ease-in-out;
}
#button:hover{
    transform: scale(1.1);
}
hr{
    width: 100%; 
    height: 1px; 
    background-color: rgb(147, 121, 7);
    border: 0;
    margin: 0px;
    border: 0px;
    
}
.right{
    margin: 0px;
    border: 0px;
    width: 85%;
    height: 100%;
    background-color:white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: auto;
}


